<p>Hello, {{name}} {{surname}}!</p>
<p>Welcome to the TreeShop!</p>
<p>You need to confirm your email to register further</p>
<p>Please follow this link to verify your email</p>
<a>{{redirectUri}}</a>
<p>If you are not registered, please do not follow this link</p>